.side-nav {
  padding: 0;
  width: 250px;
  position: absolute;
  left: 0;
  top: 0;
}
.side-nav .side-menu-toggle {
  background: #1b1b1b;
  position: absolute;
  top: 0;
  right: -40px;
  height: 50px;
  width: 50px;
  z-index: 1000;
  cursor: pointer;
}
.side-nav .side-menu-toggle span {
  background-color: #ffffff;
  content: "";
  height: 5px;
  width: 35px;
  display: block;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.side-nav .side-menu-toggle span:before,
.side-nav .side-menu-toggle span:after {
  background-color: #ffffff;
  content: "";
  height: 5px;
  width: 100%;
  display: block;
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.side-nav .side-menu-toggle span:before {
  top: -10px;
}
.side-nav .side-menu-toggle span:after {
  bottom: -10px;
}
.side-nav .side-nav-menu {
  width: 100%;
}
.side-nav .side-nav-menu .main-navigation {
  margin: 0;
}
.side-nav .side-nav-menu .main-navigation ul li {
  float: none;
}
.side-nav .side-nav-menu .main-navigation ul li.current-menu-item a {
  background-color: #1baae2;
  color: #ffffff;
}
.side-nav .side-nav-menu .main-navigation ul li a {
  color: #787878;
  padding: 20px;
  padding-left: 30px;
  text-transform: uppercase;
}
#page {
  padding: 0;
  margin: 0;
}
#page .wrapper {
  padding-left: 0;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
#page .wrapper.toggle {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  padding-left: 250px;
}
