.transition(@value){
	-webkit-transition: @value;
    -moz-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.transition-delay(@value){
	-webkit-transition-delay: @value;
	-moz-transition-delay: @value;
	-o-transition-delay: @value;
    transition-delay: @value;
}
.absolute-center{
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}